<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139147340-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-139147340-1');
    </script>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <title>平成エモワード</title>
    <meta data-n-head="true" name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@aldy_verymaccho" />
    <meta property="og:url" content="https://heisei-words.emoemo-no-emo.com" />
    <meta property="og:title" content="平成エモワード" />
    <meta property="og:description" content="平成エモワード" />
    <meta property="og:image" content="https://heisei-words.emoemo-no-emo.com/img/heisei-emo-website-06.png" />
    <meta name="twitter:image:src" content="https://heisei-words.emoemo-no-emo.com/img/heisei-emo-website-06.png" data-n-head="true">
</head>
<body>
    <div class="main-box">
   <div class="container">
    <img src="/img/heisei-emo-website-06.png" alt="" class="logo-image">
     <div class="add-button-g">
        <a href="/share_random" class="add-button-a">ガチャで遊ぶ</a>
    </div>
    <div class="add-button-e">
        <a href="/question" class="add-button-a">エモワードを追加</a>
    </div>

    <p class="explain-text"><img src="/img/gatya.png" alt="" class="gatya">エモワード:平成の懐かしい言葉</p>
    <p class="explain-text"><img src="/img/gatya.png" alt="" class="gatya">ガチャで遊ぶ：ガチャを回して一番のエモワードを発見しよう！</p>
    <p class="explain-text"><img src="/img/gatya.png" alt="" class="gatya">エモワード追加：自分でエモワードを追加する</p>
    <div class="copyright">
       Copyright (C) 2019 heiseiemoemo.All Rights Reserved
    </div>
    </div>
    </div>
</body>
</html>