<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139147340-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-139147340-1');
    </script>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="main.css">
    <title>平成エモワード</title>
    <meta data-n-head="true" name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@aldy_verymaccho" />
    <meta property="og:url" content="https://heisei-words.emoemo-no-emo.com" />
    <meta property="og:title" content="平成エモワード" />
    <meta property="og:description" content="平成エモワード" />
    <meta property="og:image" content="https://heisei-words.emoemo-no-emo.com/img/heisei-emo-website-06.png" />
    <meta name="twitter:image:src" content="https://heisei-words.emoemo-no-emo.com/img/heisei-emo-website-06.png" data-n-head="true">
</head>
<body>
    <div class="main-box">
   <div class="container">
    <img src="/img/heisei-emo-website-06.png" alt="" class="logo-image">

    <p class="explain-text">平成の懐かしいエモい言葉<br><span>||</span><br>「平成エモワード」<br>をツイッターでシェアしよう</p>

    <div class="add-button">
        <a href="/share_random" class="add-button-a">Twitterで共有する</a>
    </div>
    <p class="explain-text" style="font-size: 18px;padding: 10px;">※ランダムにエモワードが選ばれるよ</p>
    <div class="add-word">
        <a href="/question">自分で追加してシェア</a>
        <p class="explain-text"  style="padding:0;">↑↑平成エモワードBOXにキミのとっておきにエモワードを追加してシェア↑↑</p>
    </div>

    <div class="copyright">
       Copyright (C) 2019 heiseiemoemo.All Rights Reserved
    </div>
    </div>
    </div>
</body>
</html>