<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139147340-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-139147340-1');
    </script>

    <meta charset="UTF-8">
    <title>エモエモのエモ</title>
     <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.js"></script>

    <link rel="stylesheet" href="question.css">
    <style>

    .input_error {
        border: red 3px solid;
        background: #ffe3e3;
    }

    .error_message {
        margin-top: 20px;
        font-size: 35px;
        color:red;
        display: none;
    }

    .error_image_message {
        margin-top: 20px;
        font-size: 40px;
        color:red;
        display: none;
    }

    .select_image_title {
        width: 100%;
        margin: auto;
        font-size: 38px;
        margin-bottom: 20px;
    }

    .selected {
        border: 4px solid red!important;
    }

    .image_container {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .image_wrap {
        width: 50%;
        padding: 10px;
        border: 2px solid black;
    }

    .image_wrap img {
        width: 100%;
    }

    .steps {
        display: none
    }

    .content:before {
        display: table;
        content: "";
        line-height: 0;
    }

    .actions {
        position: relative
    }

    .actions ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
    }

    .actions li {
        width: 200px;
        border: 1px solid black;
        margin-left: 20px;
        text-align: center;
        padding: 10px 20px;
        border-radius: 5px;

    }

    .actions a {
        text-decoration: none;
        font-size: 35px;
        color: black;
    }

    section {
        float: left;
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translate(0,-50%);
    }

    .content {
        display: block;
        margin: .5em;
        min-height: 1000px;
        overflow: hidden;
        position: relative;
        width: auto;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    </style>
</head>

<body>
    <div class="main-box">
        <img src="img/heisei-emo-website-06.png" alt="" class="logo-image">
        <form class="container" action="/post_words" method="post">

            <h3 class="question_title"></h3>
            <section>


                <div class="third-question">
                    <p>あなたのエモエモワード</p>
                </div>
                <input type="text" class="text_form" name="text">
                <p class="error_message">エモエモワードを入れてね</p>
            </section>

            <h3 class="question_title"></h3>
            <section >
                <p class="select_image_title">エモワードにぴったりな画像</p>
                <p class="error_image_message">画像を選んでね</p>
                <div class="image_container">
                <div class="image_wrap">
                    <img src="">
                </div>
                <div class="image_wrap">
                    <img src="">
                </div>
                <div class="image_wrap">
                    <img src="">
                </div>
                <div class="image_wrap">
                    <img src="">
                </div>
                <input type="hidden" name="image_url">
                </div>
            </section>

        </form>
    </div>
</body>
<script>
    $(".container").steps({
        headerTag: "h3",
        bodyTag: "section",
        transitionEffect: "slideLeft",
        // autoFocus: true,
         startIndex: 0,
        transitionEffectSpeed: 400,
        labels: {
            next: "次へ",
            previous: "戻る",
            finish: "登録!"
        },
        onStepChanging: function (event, currentIndex, priorIndex) {
            console.log(currentIndex);
            if (currentIndex === 0) {
                var text = $('input[name="text"]').val();

                if (!text) {
                    $('input[name="text"]').addClass("input_error");
                    $(".error_message").show();
                    return false;
                }
                return true;
            }

            return true;
        },
        onFinishing: function (event, currentIndex)
        {

            var image_url = $("input[name='image_url']").val();
            console.log(image_url);
            if (!image_url) {
                $('.error_image_message').show();
                return false;
            }
            return true;
        },
        onStepChanged: function (event, currentIndex, priorIndex)
        {
            $(".image_wrap").removeClass("selected");
            $("input[name='image_url']").val("");
            var images = [];
            if (currentIndex === 1) {
                var text = $('input[name="text"]').val();
                console.log(text);
                $.ajax({
                    type: 'get',
                    url: '/get_images',
                    data: {word: text},
                    dataType: "json"
                })
                .done(function(images) {
                    console.log(images);
                    $('.image_wrap').each(function(index) {
                        $(this).find('img').attr("src", images[index]);
                    });
                });

            }
            console.log(images);
            console.log(currentIndex);
        },
        onFinished: function (event, currentIndex)
        {
             $('.container').submit();
        }
    });

    $(".image_wrap").on("click", function() {
        $(".image_wrap").removeClass("selected");
        $(this).addClass("selected");
        $("input[name='image_url']").val($(this).find("img").attr("src"));
    });

    $('input[name="text"]').on("input", function() {
        $(this).removeClass("input_error");
        $(".error_message").hide();
    });

    $('.image_wrap').on("click", function() {
        $(".error_image_message").hide();
    });
</script>
</html>