<!DOCTYPE html>
<html lang="ja">

<head>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-steps/1.1.0/jquery.steps.min.js"></script>
    <meta charset="UTF-8">
    <title>エモエモのエモ</title>
    <link rel="stylesheet" href="question.css">
</head>

<body>
    <div class="main-box">
        <img src="img/heisei-emo-website-06.png" alt="" class="logo-image">
        <h3>はろー</h3>
        <div class="container">
            <div class="first-question">
                <p>あなたの性別</p>
                <input type="radio" name="gender" value="1">男
                <input type="radio" name="gender" value="2">女
            </div>

            <div class="second-question">
                <p>あなたの生まれた年</p>
                <select name="birth_year">
                <option value="1">平成1年</option>
                <option value="2">平成2年</option>
                <option value="3">平成3年</option>
                <option value="4">平成4年</option>
                <option value="5">平成5年</option>
                <option value="6">平成6年</option>
                <option value="7">平成7年</option>
                <option value="8">平成8年</option>
                <option value="9">平成9年</option>
                <option value="10">平成10年</option>
                <option value="11">平成11年</option>
                <option value="12">平成12年</option>
                <option value="13">平成13年</option>
                <option value="14">平成14年</option>
                <option value="15">平成15年</option>
                <option value="16">平成16年</option>
                <option value="17">平成17年</option>
                <option value="18">平成18年</option>
                <option value="19">平成19年</option>
                <option value="20">平成20年</option>
                <option value="21">平成21年</option>
                <option value="22">平成22年</option>
                <option value="23">平成23年</option>
                <option value="24">平成24年</option>
                <option value="25">平成25年</option>
                <option value="26">平成26年</option>
                <option value="27">平成27年</option>
                <option value="28">平成28年</option>
                <option value="29">平成29年</option>
                <option value="30">平成30年</option>
                <option value="31">平成31年</option>
                </select>
            </div>

            <div class="third-question">
                <p>あなたのエモエモワード</p>
                <input type="text" name="text">
            </div>

            <div class="third-question">
                <p>あなたのエモエモワード</p>
            </div>
      </div>
    </div>
    <script>
    $(function() {
        .
    });
    $(".main-box").steps({
        headerTag: "h3",
        bodyTag: ".container",
        transitionEffect: "slideLeft",
        autoFocus: true,
        titleTemplate: "#title#",
        labels: {
            next: "次へ",
            previous: "戻る",
            finish: "完了！"
        },
        onStepChanging: function (event, currentIndex, newIndex)
        {
            console.log(currentIndex);
            // // Allways allow previous action even if the current form is not valid!
            // if (currentIndex > newIndex)
            // {
            //     return true;
            // }
            // // Forbid next action on "Warning" step if the user is to young
            // if (newIndex === 3 && Number($("#age-2").val()) < 18)
            // {
            //     return false;
            // }
            // // Needed in some cases if the user went back (clean up)
            // if (currentIndex < newIndex)
            // {
            //     // To remove error styles
            //     form.find(".body:eq(" + newIndex + ") label.error").remove();
            //     form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
            // }
            // form.validate().settings.ignore = ":disabled,:hidden";
            // return form.valid();
        },
        onStepChanged: function (event, currentIndex, priorIndex)
        {
            console.log(currentIndex);
            // Used to skip the "Warning" step if the user is old enough.
            // if (currentIndex === 2 && Number($("#age-2").val()) >= 18)
            // {
            //     form.steps("next");
            // }
            // // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
            // if (currentIndex === 2 && priorIndex === 3)
            // {
            //     form.steps("previous");
            // }
        }
    });
    </script>
    </body>
</html>