* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #949494;
}
.main-box {
  margin: 4vh;
  min-height: 92vh;
  background-color: #f2f2f2;
}
.container {
  width: 75%;
  margin: 0 auto;
}
/* ロゴイメージ */
.logo-image {
  display: block;
  width: 90%;
  padding-top: 100px;
  margin: auto;
  margin-bottom: 40px;
}
/* ボタンのスタイル */
.add-button {
  width: 100%;
  height: 120px;
  border-radius: 5px;
  text-align: center;
  margin: 50px auto 10px;
  background-color: #4d4d4d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
/* マウスオーバー時のカラー */
.add-button:hover {
  background-color: #949494;
}
/* リンク領域のスタイル */
.add-button-a {
  display: block;
  padding: 35px 0;
  text-align: center;
  font-size: 36px;
  text-decoration: none;
  letter-spacing: 8px;
  color: #f2f2f2;
}
/* マウスホバー時のカラー*/
.add-button-a:hover {
  color: #fff;
}
.copyright {
  text-align: center;
  line-height: 50px;
}
/*説明文*/
.explain-text {
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  padding: 35px;
  letter-spacing: 8px;
}
.add-word {
  width: 100%;
  text-align: center;
  margin: 10px auto 20px;
}
.add-word a {
  color: #4d4d4d;
  display: block;
  padding: 35px 0;
  text-align: center;
  font-size: 36px;
  letter-spacing: 8px;
}
