* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f1f1;
}

.container {
  width: 75%;
  margin: 0 auto;
}
/* ロゴイメージ */
.logo-image {
  display: block;
  width: 100%;
  padding-top: 100px;
  margin: auto;
  margin-bottom: 40px;
}
/* ボタンのスタイル */
.add-button-e {
  width: 100%;
  height: 130px;
  border-radius: 5px;
  text-align: center;
  margin: 50px auto 10px;
  margin-bottom: 100px;
  background-color: #8dc21f;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
}

.add-button-g {
  width: 100%;
  height: 130px;
  border-radius: 5px;
  text-align: center;
  margin: 200px auto 10px;
  background-color: #d74f8e;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); */
}
/* マウスオーバー時のカラー */
.add-button-e:hover {
  background-color: #8dc21f;
}

.add-button-g:hover {
  background-color: #d74f8e;
}
/* リンク領域のスタイル */
.add-button-a {
  display: block;
  padding: 35px 0;
  text-align: center;
  font-size: 36px;
  text-decoration: none;
  letter-spacing: 8px;
  color: #f2f2f2;
}
/* マウスホバー時のカラー*/
.add-button-a:hover {
  color: #fff;
}
.copyright {
  text-align: center;
  line-height: 50px;
}
/*説明文*/
.explain-text {
  font-size: 25px;
  line-height: 50px;
  letter-spacing: 8px;
  margin-top: 40px;
}

.explain-text:first-child {
  margin-top: 100px;
}

.add-word {
  width: 100%;
  text-align: center;
  margin: 10px auto 20px;
}
.add-word a {
  color: #4d4d4d;
  display: block;
  padding: 35px 0;
  text-align: center;
  font-size: 36px;
  letter-spacing: 8px;
}

.gatya {
  width: 5%;
  float: left;
  margin-right: 20px;
}
