* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: #949494;
}

.main-box {
  margin: 4vh;
  min-height: 92vh;
  background-color: #f2f2f2;
}

.container {
  width: 75%;
  margin: 0 auto;
}

/* ロゴイメージ */
.logo-image {
  display: block;
  width: 90%;
  padding-top: 100px;
  margin: auto;
}

.first-question p {
  width: 100%;
  margin: auto;
  border: 1px solid #949494;
  font-size: 36px;
  padding: 30px 30px;
  margin-top: 100px;
}

.second-question p {
  width: 100%;
  margin: auto;
  border: 1px solid #949494;
  font-size: 36px;
  padding: 30px 30px;
  margin-top: 50px;
}

.third-question p {
  width: 100%;
  margin: auto;
  font-size: 38px;
  margin-bottom: 20px;
}

.gender {
  margin-top: 30px;
  font-size: 36px;
}
.year {
  margin-top: 30px;
  font-size: 36px;
}

.text_form {
  width: 100%;
  padding: 30px 30px;
  margin: auto;
  font-size: 36px;
}
.year_check {
  font-size: 36px;
}

input[type="radio"] {
  -webkit-transform: scale(3);
  transform: scale(3);
  margin-right: 2em;
  margin-left: 2em;
}

.question_title {
}
